@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600;700&display=swap');


.container
{
    margin-left: 6%;
    margin-right: 6%;
    
}

.teste
{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.titulo_generico
{
    text-align: center;
    font-size: 1.6rem;
    margin-bottom: 2.4rem;
    margin-top: 6rem;
    text-transform: uppercase;
    font-weight: 700;
}

body
{
    font-family: 'Open Sans', sans-serif;
}

.logo__header
{
    width: 300px;
    margin-top: 2.5rem;
    margin-bottom: 2rem;
}

.hero
{
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

.img__macaron
{
    width: 100px;
}

.chamada__texto
{
    font-size: 1.8rem;
    line-height: normal;
    text-align: justify;
}

.chamada__titulo
{
    font-weight: 700;
    text-transform: uppercase;
    font-size: 2.3rem;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}

.chamada__subtexto
{
    font-size: 1.4rem;
    text-align: center;
    margin-bottom: 2rem;
    text-transform: uppercase;
}

.chamada__video
{
    width: 100vw;
    max-width: 560px;
}

.botao{
 display: flex;
 justify-content: center;
}

.btn
{
    width: 80%;
    text-align: center;
    margin-top: 2rem;
    text-transform: uppercase;
}

.titulo__lista {
    font-size: 2rem;
    text-align: center;
    font-size: 1.6rem;
    margin-bottom: 2.4rem;
    margin-top: 6rem;
    text-transform: uppercase;
    font-weight: bold;
}

.lista__texto
{
    padding:.1rem .6rem 1rem;
    font-size: 1.2rem;
}

.lista {
    padding: 1rem;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    /* text-transform: uppercase; */
    font-weight: bold;
}

.bloco__mod {
    background-color: #c27aaa6c;
    margin-bottom: 2rem;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
    margin: 0 auto;
}
.bloco__faq {
    background-color: #007ad13f;
    margin-bottom: 2rem;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
    margin: 0 auto;
}

.bloco
{
    margin-top: 1rem;
}


/* SEÇÃO ANTES E DEPOIS */

.imgx
{
    width: 300px;
    border-radius: .8rem;
}

.antes_depois
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo_ad
{
    font-size: 1.7rem;
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 2rem;
    font-weight: 700;
}

.whoiam{

    margin-top: 2rem;
    line-height: normal;
    font-size: 1.4rem;
    /* text-align: justify; */
}

.whoiamtitulo{    
    font-size: 1.7rem;
    text-align: center;
    margin: 1rem;
    font-weight: 700;
}

.whoiamFoto{
    width: 280px;
    margin: 0 auto;
    border-radius: .8rem;
}

.arcticlewhoiam{
    display: flex;
    flex-direction: column;
    
}

.whoiam__texto
{
    margin-top: 2rem;
    font-size: 1.5drem;
}
/* SEÇÃO DE DEPOIMENTOS */

.somaf
{
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 1rem;
   flex-wrap: wrap;
}

.foto1{
    width: 300px;
    border-radius: .6rem;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.589);
}

.depoimentos{
    font-size: 1.7rem;
    text-align: center;
    margin-top: 4rem;
    text-transform: uppercase;
    margin-bottom: 2rem;
    font-weight: 700;
}

.comeceja{

    margin-top: 10rem;
    font-size: 1.7rem;
    text-align: center;
    padding: 5rem 1rem;
    font-weight: 700;
    background-color: rgba(0, 0, 206, 0.637);
}

.ja_titulo
{
    color: rgb(255, 255, 255);
}

.garantia{
    width: 350px;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

/* secao galeria */

.galeria
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    overflow: hidden;
}

.galeria_imagem
{
    border-radius: 100%;
    width: 150px;
	height: 150px;
	border-radius: 50%;
    margin: 10px;
}

.galeria_imagens
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}